<?xml version="1.0" encoding="UTF-8"?>
<plugin

   id="TrafodionPlugin"
   iconfile="icon.png"
   description="Trafodion Plugin"
   tooltip="Only there for demonstration purposes"
   category="Output"
   classname="traftableoutput.TrafTableOutputMeta">
		
		<libraries>
    		<library name="TemplateStepPlugin.jar"/>
		</libraries>
		
</plugin>
