<?xml version="1.0" encoding="UTF-8"?>
<plugin

   id="TrafodionPlugin"
   iconfile="TOP.svg"
   description="TrafTable Output"
   tooltip="Only there for demonstration purposes"
   category="Output"
   classname="traftableoutput.TrafTableOutputMeta">
		
		<libraries>
    		<library name="TrafodionStepPlugin.jar"/>
		</libraries>
		
</plugin>
